:root {
  --darkblue: #1f1e32;
  --lightblue: #00cccc;
  --orange: #ff5900;
}

@font-face {
  font-family: Stratum;
  src: url(../fonts/Stratum1-Bold.woff) format('woff'),
    url(../fonts/Stratum1-Bold.otf) format('otf');
}

body {
  background: #fff;
}
